.candidateJob_container {
    margin: 50px auto 0px;
    width: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 3em;
    color: #58d5d3;
    margin: 0px 0px 20px;
    text-align: center;
}

.form {
    background-color: #444444;
    width: 80%;
    padding: 10px 60px;
    margin: 0px 0px 50px;
    border-radius: 3vh;
}

.subtitle {
    font-weight: bold;
    font-size: 2em;
    color: #58d5d3;
    margin: 0px 0px 20px;
    text-align: left;
}

.info {
    width: 100%;
    padding: 10px 60px;
    justify-content: center;
    align-items: center;
}

.form_input {
    border: 1px solid #58d5d3;
    background-color: #444444;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin: 10px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.centered_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    text-align: center;
    width: 150px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #58d5d3;
    color: #58d5d3;
    border-radius: 20px;
}

.button p {
    color: #58d5d3;
    font-size: small;
  }

.form_footer {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: right;
}