@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #F2F2F2;
  font-family: 'Inter', sans-serif;
}

body{
  background: linear-gradient(to right, #111111, #1F1F1F, #2A2A2A);
}