.login_container {
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.login_form_wrapper {
  width: 65%;
  margin: 0px auto;
  background: linear-gradient(to right, #111111, #1f1f1f, #2a2a2a);
}

.logo_image {
  width: 15%;
  margin: 10px;
}

.login_form {
  margin: 0px auto;
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.login_form_itens {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 3em;
  color: #58d5d3;
  margin: 0px 0px 30px;
}

.title_black {
  font-weight: bold;
  font-size: 3em;
  color: #111111;
  margin: 0px 0px 20px;
}

.form_label {
  color: #58d5d3;
  font-weight: bold;
}

.form_input {
  border: 1px solid #58d5d3;
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
  margin: 0px 0px 10px;
  color: #111111;
  font-weight: bold;
  font-size: 0.9em;
}

.form_input {
  outline: none;
}

.forgot_password_link {
  font-weight: bold;
  margin: 30px 0px;
}

.forgot_password_link:hover {
  text-decoration: underline;
}

.button_login {
  text-align: center;
  width: 200px;
  margin: 0px 10px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #58d5d3;
  color: #58d5d3;
  border-radius: 20px;
}

.button_login p {
  color: #58d5d3;
}

.button_login:hover {
  background-color: #58d5d3;
  border: 1px solid #111111;
  transition: 0.5s;
}

.button_login:hover p {
  color: #111111;
}

.signup_option {
  width: 35%;
  background-color: #58d5d3;
  color: #111111;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup_option p {
  color: #111111;
  text-align: center;
  width: 80%;
  margin: 30px 0px;
}

.button_signup {
  text-align: center;
  width: 200px;
  margin: 0px 10px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #111111;
  border-radius: 20px;
}

.button_signup:hover {
  color: #58d5d3;
  background-color: #111111;
  border: 1px solid #58d5d3;
  transition: 0.5s;
}
