.workerCard_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 30px;
  align-items: center;
}

.worker_portrait {
  width: 20%;
  margin-right: 5px;
}

.worker_infos {
  width: 80%;
}

.workerName {
  color: #58d5d3;
  font-weight: bold;
  margin: 5px;
}

.workerDescription {
  margin: 5px;
  font-size: 0.7em;
}

.worker_portrait_img {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #58d5d3;
}
