.aboutUs_container{
    margin: 0px auto;
    padding: 50px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.aboutUs_content{
    width: 70%;
    margin: 10px;
    padding: 10px 20px 0px 0px;
    border-right: 3px solid #58D5D3;
}

.title{
    font-weight: bold;
    font-size: 3em;
    color: #58D5D3;
    margin: 0px 0px 10px;
}

.whoAreWe, .howDoWeWork{
    margin: 20px 0px 50px;
}

.howDoWeWork p{
    margin: 20px 0px;
}

.aboutOurWorkers_content{
    width: 30%;
    padding: 20px;
    margin: 0px 10px;
}

.subtitle{
    font-weight: bold;
    font-size: 1.2em;
    color: #58D5D3;
    margin: 0px 0px 30px;
}