.footer_container{
    background-color: #58D5D3;
    width: 100%;
    min-height: 3vh;
}

.footer_container h1{
    color: #000000;
    margin: auto;
    padding-top: 2px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
}