.page{
    background: linear-gradient(to right, #111111, #1F1F1F, #2A2A2A);
    min-height: 97vh;
    margin: 0px auto;
}

.navbar_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #111111, #1F1F1F, #2A2A2A);
}

.navbar_itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.menu_itens{
    margin: 10px 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_logo_image{
    width: 20%;
    height: 20%;
    border-right: solid 3px #58D5D3;
    padding-right: 20px;
    margin-right: 10px;
}

.navbar_links_list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links_itens{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px 20px;
}

.navbar_links_itens:hover{
    color: #58D5D3;
    transition: .5s;
}

.login_signup_user{
    width: 20%;
    text-align: right;
    margin: 10px 30px;
}

.nav_buttons_links{
    text-align: center;
    margin: 0px 10px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #58D5D3;
    border-radius: 20px;
}

.nav_buttons p:hover{
    color: #58D5D3;  
    border: 1px solid #FFFFFF; 
    transition: .5s;
}

.page_loading{
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}