.signup_container{
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}

.login_option{
    width: 35%;
    margin: 0px auto;
    background-color: #58D5D3;
}

.login_itens{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_image{
    width: 30%;
    margin: 10px;
    filter: brightness(0) saturate(0%);
}

.title_black{
    font-weight: bold;
    font-size: 3em;
    color: #111111;
    margin: 0px 0px 20px;
}

.login_option p{
    color: #111111;
    text-align: center;
    width: 80%;
    margin: 30px 0px;
}

.button_login{
    text-align: center;
    width: 200px;
    margin: 0px 10px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #111111;
    border-radius: 20px;
}

.button_login :nth-child(1){
    color: #111111;
}

.button_login:hover{
    color: #58D5D3;  
    background-color: #111111;
    border: 1px solid #58D5D3; 
    transition: .5s;
}

.button_login:hover :nth-child(1){
    color: #58D5D3;
}

.signup_form_wrapper{
    width: 65%;
    background: linear-gradient(to right, #111111, #1F1F1F, #2A2A2A);
    color: #111111;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup_form{
    margin: 0px auto;
    width: 60%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.signup_form_itens{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-weight: bold;
    font-size: 3em;
    color: #58D5D3;
    margin: 0px 0px 30px;
}

.form_label{
    color: #58D5D3;
    font-weight: bold;
}

.form_input{
    border: 1px solid #58D5D3;
    border-radius: 10px;
    width: 100%;
    padding: 5px 10px;
    margin: 0px 0px 10px;
    color: #111111;
    font-weight: bold;
    font-size: 0.9em;
}

.form_input{
    outline: none;
}

.form_control{
    margin: 0px 0px 50px;
}

.account_type_selection{
    display: flex;
    flex-direction: column;
}

.account_type_selection p{
    font-weight: bold;
}

.button_signup{
    text-align: center;
    width: 200px;
    margin: 0px 10px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #58D5D3;
    color: #58D5D3;
    border-radius: 20px;
}

.button_signup p{
    color: #58D5D3;
}

.button_signup:hover{
    background-color: #58D5D3;
    border: 1px solid #111111; 
    transition: .5s;
}

.button_signup:hover p{
    color: #111111;  
}